
@import "spinner.less";
@import url(//fonts.googleapis.com/css?family=Asul);

// main css file for 'construction' here

@baseFontFamily: 'Asul', sans-serif;

body {
  font-family:'Asul', sans-serif !important;
  padding:20px !important;
  color:#555 !important;
}
.stats {
  position:absolute;
  bottom:10px;
  left:10px;
}      
.elicitationid {
  position:absolute;
  bottom:10px;
  right:10px;
}
.expertbox {
  padding:0px; // 10px 20px 10px 20px;
}               

h2 {  margin-bottom:0px !important;  }

.constructs {
  li {
    margin:0.9em 0px 0.9em 0px;
    border-bottom:1px solid #eee;
    padding:12px 0px 30px 5px;
    p {
      &.construct-name {  color:#0ac; font-size:120%;   }
      &.construct-desc {  color:#bbb; font-weight:100;  }      
    }
    .btn-group {
      padding:5px 0px 0px 5px;
    }
  }
}

.elicitation {
  padding:0px 20px 0 20px;
}
.buttons {
  margin:20px 0px 0px 0px;
}
form {
  margin:0px 0px !important;
}     
.btn {
  opacity:0.82 !important;
}
