<!DOCTYPE html>
<html lang="en" ng-app>
  <link href="../../css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet/less" type="text/css" href="css/index.less">
  <head><title></title></head>
  <body>
	<div ng-controller='ElicitationController'>
	  <div class="title">
		<h2>{{ element.get('name')[0] }} </h2>		
		<p><a href="{{ element.get('url')[0] }}" target="_top">{{ element.get('url')[0] }}</a></p>
		<p>{{ element.get('description')[0] }}</p>
	  </div>
	  <div class="constructs">
		<ul>
		  <li ng-repeat="construct in constructs">
			<p><b>{{ construct.get('name')[0] }}</b></p>
			<p>{{ construct.get('description')[0] }}</p>
			<div class="btn-group" data-toggle="buttons-radio">
			  <button type="button" class="btn btn-primary" ng-click="setRating(construct.id,1)">1</button>
			  <button type="button" class="btn btn-primary" ng-click="setRating(construct.id,2)">2</button>
			  <button type="button" class="btn btn-primary" ng-click="setRating(construct.id,3)">3</button>
			  <button type="button" class="btn btn-primary" ng-click="setRating(construct.id,4)">4</button>
			  <button type="button" class="btn btn-primary" ng-click="setRating(construct.id,5)">5</button>
			  <button type="button" class="btn btn-primary" ng-click="setRating(construct.id,6)">6</button>
			  <button type="button" class="btn btn-primary" ng-click="setRating(construct.id,7)">7</button>
			</div>
		  </li>
	  </div>
	  <div class="stats">elements: {{ elements.length }}; constructs: {{ constructs.length }}</div>
	  <div class="elicitationid"> elcitation number : {{ elicitationid }} </div>
	  <div class="spinner" ng-show="loading > 0">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
		<div class="bar4"></div>
		<div class="bar5"></div>
		<div class="bar6"></div>
		<div class="bar7"></div>
		<div class="bar8"></div>
		<div class="bar9"></div>
		<div class="bar10"></div>
		<div class="bar11"></div>
		<div class="bar12"></div>
	  </div>
	</div>  

  </body>
  <script src="../../js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="../../js/vendor/underscore.min.js" type="text/javascript"></script>
  <script src="../../js/vendor/backbone.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="../../js/webbox-backbone.js"></script>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</html>
