<!DOCTYPE html>
<html lang="en">
  <head>
	<title>construct elicitation app</title>
	<link rel="stylesheet/less" type="text/css" href="css/index.less"/>
	<link href="../../css/bootstrap.css" rel="stylesheet"/>
	<link href="/components/toolbar/toolbar.css" rel="stylesheet"/>
  </head>
  <body  ng-app>
	<div ng-controller='ElicitationController'>
	  <!-- error -->		
	  <div class="alert alert-block" style="display:none">
		<a class="close" data-dismiss="alert">x</a>  
		<h4 class="alert-heading">{{ error_header }}</h4>  
		<span class="text">{{ error }}</span>
	  </div>
	  <div ng-show='initialised' style="display:none;">
		<!-- done yet ? -->
		<div class='donebox alert alert-block' ng-show='elements.length == 0'>
		  <a class="close" data-dismiss="alert">x</a>  
		  <h4 class="alert-heading">All done!</h4>  
		  <span class="text">Thank you.  Change your provided name and reload to start anew.</span>
		</div>	  
		<!-- elicitation interace -->
		<div class="row-fluid">
		  <div class='span7 elicitation' ng-hide='elements.length==0'> 
			<div class="title">
			  <h2>{{ element.get('name')[0] | lowercase }} </h2>		
			  <p><a href="{{ element.get('url')[0] }}" target="_top">{{ element.get('url')[0] }}</a></p>
			  <p>{{ element.get('description')[0] }}</p>
			</div>
		  </div>
		  <!-- who is it ? -->
		  <div class='span5 expertbox'>
			<form>
			  <fieldset>
				<label>expert's name</label>
				<input type="text" ng-model='username' ng-change="setUser()">
			  </fieldset>
			</form>
		  </div>
		</div>
		<div class="row-fluid">
		  <div class='span7 elicitation' ng-hide='elements.length==0'> 
			<div class="constructs">
			  <ul class="unstyled">
				<li class="construct" ng-repeat="construct in constructs">
				  <p class="construct-name">{{ construct.get('name')[0] | lowercase }}</p>
				  <p class="construct-desc">{{ construct.get('description')[0] }}</p>
				  <div class="btn-group" data-toggle="buttons-radio">
					<button type="button" class="btn btn-primary" ng-click="setRating(construct.id,1)">1</button>
					<button type="button" class="btn btn-primary" ng-click="setRating(construct.id,2)">2</button>
					<button type="button" class="btn btn-primary" ng-click="setRating(construct.id,3)">3</button>
					<button type="button" class="btn btn-primary" ng-click="setRating(construct.id,4)">4</button>
					<button type="button" class="btn btn-primary" ng-click="setRating(construct.id,5)">5</button>
					<button type="button" class="btn btn-primary" ng-click="setRating(construct.id,6)">6</button>
					<button type="button" class="btn btn-primary" ng-click="setRating(construct.id,7)">7</button>
				  </div>
				</li>
			</div>
		  </div>
		  <div class='buttons span5' ng-hide='elements.length==0'> 
			  <div class='btn' ng-click="nextElement()">next element <i class='icon-play'></i></div>
		  </div> 
		</div> <!-- row --> 
		<div class="stats">elements left: {{ elements.length }}; constructs: {{ constructs.length }}</div>
		<div class="elicitationid"> elcitation number : {{ elicitationid }} </div>
	  </div>
	  
	  <div class="spinner" ng-show="loading > 0">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
		<div class="bar4"></div>
		<div class="bar5"></div>
		<div class="bar6"></div>
		<div class="bar7"></div>
		<div class="bar8"></div>
		<div class="bar9"></div>
		<div class="bar10"></div>
		<div class="bar11"></div>
		<div class="bar12"></div>
	  </div>
	</div> <!-- elicitation controller --> 

  </body>
  <script src="../../js/vendor/lesscss.min.js" type="text/javascript"></script>  
  <script src="../../js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="../../js/vendor/underscore.min.js" type="text/javascript"></script>
  <script src="../../js/vendor/backbone.min.js" type="text/javascript"></script>
  <script src="../../js/vendor/bootstrap.min.js" type="text/javascript"></script>  
  <script type="text/javascript" src="../../js/webbox-backbone.js"></script>
  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="js/dbparams.js"></script>  
  <script type="text/javascript" src="js/index.js"></script>
</html>
